html {
  scroll-behavior: smooth;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion-container {
	margin-bottom: 100px;
}

.inputs {
	text-transform: capitalize;
}

.scroll-container {
  height: 2000px;
}

.fixed-btn {
  position: fixed;
  bottom: 50px;
  color: #333;
  right: 50px;
}